h1 {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem 0.5rem 0rem;
  font-size: 20pt;
}

nav {
  display: flex;
  justify-content: center;
}

button {
  width: 200px;
  height: 25px;
  background: rgba(0, 0, 255, 0.4);
  border: none;
  margin: 0.25rem;
  border-radius: 5px;
  color: white;
}

button:hover {
  cursor: pointer;
  color: black;
}

hr {
  opacity: 0.5;
}

a {
  text-decoration: none;
}
